body{
  background: gray;
}

.wrapper{
  width: 100%;
  margin: auto;
  margin-top: 100px;
}

.secondcontainer{
  display: flex;
  background: #fff;
  height: 800px;
  width: auto;
  flex-flow: row;
  justify-content: space-between;
}

.box{
  height: auto;
  width: 550px;
  background: green;
}
