body{
  margin: 0;
}

.wrapper{
  width: 100%;
  margin: auto;
}

.container{
  display: flex;
  background: #fff;
  height: 900px;
  justify-content: space-around;
}

.box{
  height: auto;
  width: 550px;
  background: green;
}

.header{
  display:flex;
  position: fixed;
  height: 100px;
  top: 0;
  width:inherit;
  background:#222;

}

.footer{
  display:flex;
  position: fixed;
  height: 100px;
  bottom: 0;
  width:inherit;
  background:#222;

}
