body{
  background: gray;
}

.wrapper{
  width: 100%;
  margin: auto;
  margin-top: 100px;
}

.container{
  display: flex;
  background: #fff;
  height: 800px;
  width: auto;
  justify-content: space-between;
}

.box{
  height: auto;
  width: 550px;
  background: green;
}

.secondcontainer{
  display: flex;
  height: 800px;
  width: auto;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  flex-flow: column;
}

.line{
  margin-top: 50px;
  margin-bottom: 50px;
  height: 45px;
  width: 400px;
  background: lightblue;
}

.row{
  margin-top: 50px;
  margin-bottom: 50px;
  height: 45px;
  width: 400px;
  background: orange;
}
